
*.class
*.apk
*.aab
*.dex
/build/
/app/build/
.gradle/
local.properties
.idea/
*.iml


__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
.pytest_cache/
.ipynb_checkpoints/


.vscode/


.DS_Store
Thumbs.db
desktop.ini